venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
.idea/
.vscode/

# Build and Distribution Artifacts
build/
dist/
*.spec

# Ignore test screenshots and debug dumps in root
*.png
!templates/**/*.png
cache/
